<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

</head>
<body>
    <a class="menu-item" href="{{ url_for('bp_open.index') }}">
        Home
    </a>
    {% if current_user.is_authenticated %}
        <a class="menu-item" href="{{ url_for('bp_user.user_get') }}">
            Profile
        </a>
        <a href="{{ url_for('bp_user.mailbox_get') }}">
            <i class="fa fa-fw fa-envelop-open no-new-msg" id="message-symbol"></i>
                <span class="sup" id="message-cont"></span>
        </a>
    {% endif %}

    <hr />
    {% block content %}
    {% endblock %}

    <script>
        setInterval(checkMessages, 5000000);

        function checkMessages() {
            fetch("http://127.0.0.1:5000/get_message_count")
                .then(response => response.json())
                .then(msgCount => {
                    let messageSymbol = document.getElementById("message-symbol");
                    let messageCount = document.getElementById("message-count");
                    if(msgCount.unreadMessageCount === 0) {
                        messageSymbol.classList.remove("fa-envelope");
                        messageSymbol.classList.add("fa-envelope-open");
                        messageSymbol.classList.remove("new-msg");
                        messageSymbol.classList.add("no-new-msg");
                        messageCount.innerHTML = "";
                    }
                    else {
                        messageSymbol.classList.remove("fa-envelope-open");
                        messageSymbol.classList.add("fa-envelope");
                        messageSymbol.classList.remove("no-new-msg");
                        messageSymbol.classList.add("new-msg");
                        messageCount.innerHTML = msgCount.unreadMessageCount;
                    }
                });
        }
    </script>

    {% block scripts %}
    {% endblock %}
    <a class="bottom" href="https://kyh.se/utbildningar/internet-of-things-developer/" >This is a communication platform was developed by students of IoT Developer at KYH.</a>
</body>
</html>