{% extends "base-template.html" %}

{% block title %}
    Mailbox for {{ current_user.name }}
{% endblock %}

{% block content %}
    <h1 id="main-heading">Mailbox</h1>
    <p>Hello {{ current_user.name }}</p>
    <br />
    <table class="center">
        <tr>
            <th>Sender</th>
            <th>Sent</th>
            <th>Message</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td><a href="{{ url_for('bp_user.message_get', user_id=message.sender.id) }}">{{ message.sender.name }}</a></td>
                {% if message.sent_time is not none %}
                    <td>{{ message.sent_time.year }}-{{ message.sent_time.month }}-{{ message.sent_time.day }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td><form action="{{ url_for('bp_user.read_message_get', user_id=message.sender.id) }}" method="GET">
                        <input type="submit" value="Read"/>
                </form></td>
            </tr>
        {% endfor %}
    </table>
    <table class="right">
        <tr>
            <th>Name</th>
            <th>Online</th>
        </tr>
        {% for user in users %}
            <tr>
                <td><a href="{{ url_for('bp_user.message_get', user_id=user.id) }}">{{ user.name }}</a></td>
                <td class="center-content">
                    {% if user.online %}
                        <div class="circle online"></div>
                    {% else %}
                        <div class="circle offline"></div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
