{% extends "base-template.html" %}

{% block content %}
    <h1>Reading message from {{ sender.name }}</h1>

        <input type="hidden" name="user_id" value="{{ sender.id }}">
        <p>Upload private key</p>
        <input type="file" id="priv-file" enctype="multipart/form-data" />
        <button onclick="readPrivateKey()">Read Private Key</button><span id="priv-loaded"></span>
        <br />
        <br />
        <p>Message:</p>
        <textarea id="message_decrypted" rows="10" cols="50" placeholder="Once decrypted, your message will show here"></textarea> <br />
        <br />
        <br />
        <button class="sbutton button2" onclick="location.href='{{ url_for('bp_user.mailbox_get') }}'">Back</button>
        <button onclick="decrypt()">Decrypt</button>


        </buttonform>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="{{  url_for('static', filename='js/rsa.js') }}"></script>

    <script>
        let privateKey;

        function readPrivateKey() {
            let files = document.getElementById("priv-file").files;
            let file = files[0];
            let reader = new FileReader();
            reader.onloadend = function (event) {
                privateKey = event.target.result;
                privateKey = privateKey.replace(/(\r\n|\n|\r)/gm, "");
                document.getElementById("priv-loaded").innerHTML = "Private key loaded";
            };
            reader.readAsText(file);
        }

        function decrypt() {
            // Get the encrypted message


            let cipher = document.getElementById("encrypted").innerHTML;
            // Create a RSA object
            let rsaEncrypt = new JSEncrypt();
            // Set the private key we want to use for decryption
            rsaEncrypt.setPrivateKey(privateKey);
            // Decrypt the message
            let plainText = rsaEncrypt.decrypt(cipher);
            // Show the decryted message
            document.getElementById("decrypted").innerHTML = plainText;
        }

        function aesDecrypt() {
            let clearText = CryptoJS.AES.decrypt(encrypted, key);
            document.getElementById("clear").value = clearText.toString(CryptoJS.enc.Utf8);
        }

    </script>

{% endblock %}