{% extends "base-template.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    {% with messages = get_flashed_messages() %}
        {% if messages == 'Email address is already in use' %}
            <div class="notification">
                {{ messages [0] }}. Go to <a href="{{ url_for('bp_open.login_get') }}">login page</a>
            </div>
        {% else %}
            <div class="notification">
                {{ messages [0] }}.
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('bp_open.signup_post')}}" method="POST" id="form1">
        <input class="signupLogin" type="text" name="name" placeholder="Full name" /> <br />
        <input class="signupLogin" type="email" name="email" placeholder="Email address" /> <br />
        <input class="signupLogin" type="password" name="password" placeholder="Password" /> <br />
         <br />
    </form>
        <button class="sbutton button2" onclick="location.href='{{ url_for('bp_open.index') }}'">Back</button>
        <button class="sbutton button1" form="form1" value="submit">Sign in</button>


{% endblock %}
