{% extends "base-template.html" %}

{% block title %}
    User Page
{% endblock %}

{% block content %}
    <script>
        function alertMessage() {
            alert("Are you sure?");
        }
    </script>

    <h1 id="main-heading">User Page</h1>
    <p>Hello {{ current_user.name }}</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    {% if current_user.admin == 1 %}
        <table class="center">
            <tr>
                <th>Name</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td><a>{{ user.name }}</a></td>
                    <td class="center-content">
                        <button onclick="location.href='{{ url_for('bp_admin.change_password_get', user_id=user.id) }}'">Change password</button>
                        <form action="{{ url_for('bp_admin.delete_user', user_id=user.id) }}" method="POST">
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
            <button class="button button3" onclick="alertMessage()">Update your email</button>
            <button class="button button3" onclick="alertMessage()">Update your name</button>
    {% endif %}
{% endblock %}
